<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo list Project</title>
    <link type="text/css" rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="all-div">
        <h2>Todo list</h2>
        <table>
          <thead>
            <th>ID</th>
            <th>Thing to do</th>
            <th>Edit</th>
            <th>Delete</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>

      <p class="notification"></p>

      <div class="add-div">
        <form>
          <div class="form-content">
            <label for="todo">Add todo here: </label
            ><input type="text" id="todo" placeholder="todo" />
          </div>
          <div class="form-submit">
            <button class="btn btn-submit add">Create</button>
          </div>
        </form>
      </div>

      <div class="edit-div">
        <form>
          <div class="form-content">
            <label for="edit-content">Change todo here: </label
            ><input type="text" id="edit-content" />
          </div>
          <div class="form-submit">
            <button class="btn btn-submit edit">Edit</button>
          </div>
        </form>
      </div>

      <div class="controller">
        <button class="btn btn-add">Add new todo</button>
        <button class="btn btn-delete all">Delete all</button>
        <button class="btn btn-turn-back">Turn back to list</button>
      </div>
    </div>
    <script type="application/javascript" src="./js/script.js"></script>
  </body>
</html>
